<div class="row">
    <div class="col col-12 col-sm  col-md col-lg">
        <h5>Confirmed</h5>
        <p>{{totalConfirmed | thousandSuff}}</p>
    </div>
    <div class="col col-12 col-sm  col-md col-lg">
        <h5>Recovered</h5>
        <p>{{totalRecovered | thousandSuff}}</p>
    </div>
    <div class="col col-12 col-sm  col-md col-lg">
        <h5>Deaths</h5>
        <p>{{totalDeath | thousandSuff}}</p>
    </div>
    <div class="col col-12 col-sm  col-md col-lg">
        <h5>Active</h5>
        <p>{{totalActive | thousandSuff}}</p>
    </div>
</div>